<a href="https://colab.research.google.com/github/ccwu0918/book-sqlfifty/blob/main/sqlite_flask.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# SQL

## 為什麼要用資料庫？
- 可以隨心所欲的做資料的存取
- 當資料龐大時，處理效率比直接對檔案IO快上許多
- 方便跟各種服務系統串接

## 資料庫種類
- 關聯式資料庫：資料欄位須先定義清楚、穩定
- 非關聯式資料庫：資料擁有彈性結構、速度較快

## 常見的關聯式資料庫種類
- MySQL：免費、開源性質、常應用於Web，較適合中小型企業事務
- PostgreSQL：免費、開源、以商業應用導向為主
- MSSQL：Microsoft SQL Server，only on Windows，花錢就能買的完整方案。
- Oracle：公部門常用的資料庫系統，安全、效能、功能都極為齊全。
- SQLite：基於文件的資料庫，不需要架設伺服器，就能處理各種類數據。

## 常見的非關聯式資料庫種類
- MongoDB
- Couchbase
- Cassandra
- Redis
- memcache
- HBase
- Neo4J
  
![](http://image.slidesharecdn.com/mongodbrdbmsmigrationwebinar-140202060406-phpapp02/95/migrating-from-relational-databases-to-mongodb-10-638.jpg?cb=1391321199)

## SQLite

``` python
import sqlite3
conn = sqlite3.connect('資料庫名稱.db') 
sql = "......"
cursor = conn.execute(sql_ins)
cursor = conn.commit() ###  會修改到資料的必須要多寫此行
conn.close()
```

### 建立資料庫/資料表
- 建立資料庫(Database/DB)：`資料庫.db`
- 建立資料表(Table)：

SQLite 型別
- INTEGER：整數
- REAL：浮點數
- TEXT：文字
- BLOB：原始資料
  
``` mysql
CREATE TABLE `資料表` (
	`欄位1`	型別,
	`欄位2`	型別,
	`.....
)
```

In [ ]:
!pip install SQLAlchemy==1.4.46

In [ ]:
!git clone https://github.com/ccwu0918/book-sqlfifty

In [ ]:
import sqlite3
conn = sqlite3.connect('stocks.db') # 如果資料庫不存在，會自動幫你建立
sql_create_table = """
CREATE TABLE `stock_date` (
	`stock_id`	INTEGER,
	`date`	TEXT,
	`open`	REAL,
	`high`	REAL,
	`low`	REAL,
	`close`	REAL,
	`volume`	INTEGER
);
"""
cursor = conn.execute(sql_create_table)
conn.close()

##### [練習]
- 寫出 建立資料表 stock_list 的 sqlite 語法
    - 股票代號 stock_id
    - 股票名稱 name
    - 想想看以上欄位要用什麼型別

In [ ]:
import sqlite3
conn = sqlite3.connect('stocks.db') # 如果資料庫不存在，會自動幫你建立
sql_create_table = """
CREATE TABLE `stock_list` (
	`stock_id`	INTEGER,
	`name`	TEXT
);
"""
cursor = conn.execute(sql_create_table)
conn.close()

In [ ]:
import sqlite3
conn = sqlite3.connect('stocks.db') # 如果資料庫不存在，會自動幫你建立
sql_create_table = """

CREATE TABLE "系所資料表" (
	"系所代號"	TEXT NOT NULL,
	"系所名稱"	TEXT,
	"系所電話"	TEXT,
	PRIMARY KEY("系所代號")
);

"""
cursor = conn.execute(sql_create_table)
conn.close()

In [ ]:
import sqlite3
conn = sqlite3.connect('stocks.db') # 如果資料庫不存在，會自動幫你建立
sql_create_table = """

CREATE TABLE "學生資料表" (
	"學號"	TEXT NOT NULL,
	"姓名"	TEXT,
	"性別"	TEXT,
	"電話"	TEXT,
	"系別"	TEXT,
	PRIMARY KEY("學號")
);

"""
cursor = conn.execute(sql_create_table)
conn.close()

## CRUD

### Create 新增資料
``` mysql
INSERT INTO `資料表` (`欄位1`, `欄位2`, ...)
VALUES (值1, 值2, )
```


### 一次新增多筆資料 (INSERT INTO SELECT)


語法：

``` mysql
INSERT INTO `資料表` (`欄位1`, `欄位2`, ...)
VALUES (value1_1, value1_2, ...),
    (value2_1, value2_2, ...),
    (value3_1, value3_2, ...),
    ... ;
或利用子查詢，從其它的資料表中取得資料來作一次多筆新增：

INSERT INTO table_name (column1, column2, column3,...)
SELECT othercolumn1, othercolumn2, othercolumn3,...
FROM othertable_name;
```

In [ ]:
import sqlite3
conn = sqlite3.connect('stocks.db')

sql_ins = """
    INSERT INTO `stock_list` (`stock_id`, `name`)  
              VALUES ( 2330 ,'台積電')
"""
cursor = conn.execute(sql_ins)
cursor = conn.commit()
conn.close()

In [ ]:
import sqlite3
conn = sqlite3.connect('stocks.db')

sql_ins = """
    INSERT INTO `stock_list` (`stock_id`, `name`)  
              VALUES ( 2317 ,'鴻海')
"""
cursor = conn.execute(sql_ins)
cursor = conn.commit()
conn.close()

In [ ]:
import sqlite3
conn = sqlite3.connect('stocks.db')
sql_ins = """
    INSERT INTO "main"."系所資料表" ("系所代號", "系所名稱", "系所電話") VALUES ('D01', '工管系', '082-3139XX');
"""
cursor = conn.execute(sql_ins)
cursor = conn.commit()
conn.close()

In [ ]:
import sqlite3
conn = sqlite3.connect('stocks.db')
sql_ins = """
    INSERT INTO "main"."系所資料表" ("系所代號", "系所名稱", "系所電話") VALUES ('D02', '資工系', '082-3139XX');
"""
cursor = conn.execute(sql_ins)
cursor = conn.commit()
conn.close()

#### [練習]
將以下資料加入資料庫
- 要加上股票代號
- 日期要轉格式
- 型別轉換(好的習慣)

In [ ]:
datas_2330 = [
    ['2020/03/02', '308', '317', '308', '311', '86373'],
    ['2020/03/03', '318.5', '320', '316', '317.5', '55169'],
    ['2020/03/04', '322', '322', '317', '320.5', '44745'],
    ['2020/03/05', '325', '326', '323', '323', '38224'],
    ['2020/03/06', '320', '320.5', '315', '315', '52808']
]
datas_2317 = [
    ['2020/03/02', '78.2', '80.3', '78.1', '79.2', '54992'],
    ['2020/03/03', '81.1', '82', '80.6', '81', '34822'],
    ['2020/03/04', '81.5', '81.9', '81.1', '81.7', '29908'],
    ['2020/03/05', '83.3', '83.6', '82.6', '82.7', '36950'],
    ['2020/03/06', '81.6', '81.7', '80.7', '80.8', '38713']
]

In [ ]:
import sqlite3
conn = sqlite3.connect('stocks.db')
sql_ins1 = """
    INSERT INTO `stock_date` (`stock_id`, `date`, `open`, `high`, `low`, `close`, `volume`)  
    VALUES ( 2330, '2020-03-02', 308, 317, 308, 311, 86373),
        ( 2330 ,'2020-03-03', 318.5, 320, 316, 317.5, 55169),
        ( 2330, '2020-03-04', 322, 322, 317, 320.5, 44745),
        ( 2330, '2020-03-05', 325, 326, 323, 323, 38224),
        ( 2330, '2020-03-06', 320, 320.5, 315, 315, 52808)
"""

sql_ins2 = """
    INSERT INTO `stock_date` (`stock_id`, `date`, `open`, `high`, `low`, `close`, `volume`)  
    VALUES ( 2317, '2020-03-02', 78.2, 80.3, 78.1, 79.2, 54992),
        ( 2317, '2020-03-03', 81.1, 82, 80.6, 81, 34822),
        ( 2317, '2020-03-04', 81.5, 81.9, 81.1, 81.7, 29908),
        ( 2317, '2020-03-05', 83.3, 83.6, 82.6, 82.7, 36950),
        ( 2317, '2020-03-06', 81.6, 81.7, 80.7, 80.8, 38713)
"""
cursor = conn.execute(sql_ins1)
cursor = conn.commit()

cursor = conn.execute(sql_ins2)
cursor = conn.commit()
conn.close()

### Read 讀取資料 
``` mysql
SELECT `欄位1`, `欄位2`, ...
FROM `資料表`
WHERE 條件1 and/or 條件2 ....
ORDER BY 排序方式1, 排序方式2
LIMIT 筆數限制
```
- 顯示欄位：
    - 全選所有資料表內的欄位 `SELECT * `
    - 可自訂新欄位(運算符號和Python相同) `SELECT 欄位1, (欄位1-欄位2)*100/欄位2`
    - 可自訂順序(不需要跟資料表順序一致)
- 條件：
    - 數值比較符號大致上和Python相同，
        - 比較兩邊相等：`=`
        - 沒有整除、次方運算子(要用[函式](https://www.w3schools.com/sql/sql_ref_mysql.asp))
- 排序方式：
    - DESC 倒序(大->小)排序
    - ASC 正序(小->大)排序(可省略不寫)

In [ ]:
import sqlite3
conn = sqlite3.connect('stocks.db')
sql = """
    SELECT `stock_id`,`date`,`open`,`close`,`high`,`low`,`volume`, `volume`*1000
    FROM `stock_date`
    WHERE `date` = '2020-03-03' or `volume` >= 40000
    ORDER BY `stock_id` DESC, `date`
"""
cursor = conn.execute(sql)
for row in cursor.fetchall():
    print(row)
conn.close()

(2330, '2020-03-02', 308.0, 311.0, 317.0, 308.0, 86373, 86373000)
(2330, '2020-03-03', 318.5, 317.5, 320.0, 316.0, 55169, 55169000)
(2330, '2020-03-04', 322.0, 320.5, 322.0, 317.0, 44745, 44745000)
(2330, '2020-03-06', 320.0, 315.0, 320.5, 315.0, 52808, 52808000)
(2317, '2020-03-02', 78.2, 79.2, 80.3, 78.1, 54992, 54992000)
(2317, '2020-03-03', 81.1, 81.0, 82.0, 80.6, 34822, 34822000)

#### [練習]
列出 台積電(2330) 2020-03-04 之後的 每日資訊
- 日期
- 開盤、收盤、最高、最低
- 均價 CDP：(最高+最低+2*收盤) / 4
- 列出擁有最大「最高價」的兩筆資料

### Update 更新資料
``` mysql
UPDATE `資料表`
SET `欄位1`=值1, `欄位2`=值2, ...
WHERE 條件1 and/or 條件2 ....
```

In [ ]:
import sqlite3
conn = sqlite3.connect('stocks.db')
sql_upd = """
    UPDATE `stock_date`
    SET `open`=`open`+1000, `close`=900
    WHERE `stock_id` = 2330 and `date` = '2020-03-03'
"""
cursor = conn.execute(sql_upd)
cursor = conn.commit()
conn.close()

In [ ]:
import sqlite3
conn = sqlite3.connect('stocks.db')
sql = """
    SELECT * 
    FROM `stock_date`
    WHERE `stock_id` = 2330 and `date` = '2020-03-03'
"""
cursor = conn.execute(sql)
for row in cursor.fetchall():
    print(row)
conn.close()

(2330, '2020-03-03', 1318.5, 320.0, 316.0, 900.0, 55169)

### Delete 刪除資料
``` mysql
DELETE 
FROM `資料表`
WHERE 條件1 and/or 條件2 ....
```

In [ ]:
import sqlite3
conn = sqlite3.connect('stocks.db')
sql_upd = """
    DELETE 
    FROM `stock_date`
    WHERE `stock_id` = 2330 and `date` = '2020-03-03'
"""
cursor = conn.execute(sql_upd)
cursor = conn.commit()
conn.close()

In [ ]:
import sqlite3
conn = sqlite3.connect('stocks.db')
sql = """
    SELECT * 
    FROM `stock_date`
"""
cursor = conn.execute(sql)
for row in cursor.fetchall():
    print(row)
conn.close()

(2330, '2020-03-02', 308.0, 317.0, 308.0, 311.0, 86373)
(2330, '2020-03-04', 322.0, 322.0, 317.0, 320.5, 44745)
(2330, '2020-03-05', 325.0, 326.0, 323.0, 323.0, 38224)
(2330, '2020-03-06', 320.0, 320.5, 315.0, 315.0, 52808)
(2317, '2020-03-02', 78.2, 80.3, 78.1, 79.2, 54992)
(2317, '2020-03-03', 81.1, 82.0, 80.6, 81.0, 34822)
(2317, '2020-03-04', 81.5, 81.9, 81.1, 81.7, 29908)
(2317, '2020-03-05', 83.3, 83.6, 82.6, 82.7, 36950)
(2317, '2020-03-06', 81.6, 81.7, 80.7, 80.8, 38713)

### 處理重複資料
- 新增資料的時候先檢查資料是否存在：`SELECT`
- 設計資料庫：
    - 新增一欄位讓所有資料各擁有一唯一代碼，
        - 刪除時留下最小或最大的代碼：先用`SELECT`，再用`DELETE`
    - 建立唯一值組合：`UNIQUE INDEX`
        - 要先思考哪些欄位組合起來是唯一值

In [ ]:
import sqlite3
conn = sqlite3.connect('stocks.db')
sql_create_ui = """
    CREATE UNIQUE INDEX `id_date` ON `stock_date`(`stock_id`, `date`)
"""
cursor = conn.execute(sql_create_ui)
cursor = conn.commit()
conn.close()

In [ ]:
import sqlite3
conn = sqlite3.connect('stocks.db')
sql_ins = """
    INSERT INTO `stock_date` (`stock_id`, `date`, `open`, `high`, `low`, `close`, `volume`)  
    VALUES ( 2330 ,'2020-03-03', 318.5, 320, 316, 317.5, 55169 )
"""
cursor = conn.execute(sql_ins)
cursor = conn.commit()
sql_ins2 = """
    INSERT INTO `stock_date` (`stock_id`, `date`, `open`, `high`, `low`, `close`, `volume`)  
    VALUES ( 2330 ,'2020-03-03', 918.5, 320, 316, 317.5, 55169 )
"""
cursor = conn.execute(sql_ins2)
cursor = conn.commit()
conn.close()

IntegrityError: ignored

In [ ]:
import sqlite3
conn = sqlite3.connect('stocks.db')
sql = """
    SELECT * 
    FROM `stock_date`
"""
cursor = conn.execute(sql)
for row in cursor.fetchall():
    print(row)
conn.close()

(2330, '2020-03-02', 308.0, 317.0, 308.0, 311.0, 86373)
(2330, '2020-03-04', 322.0, 322.0, 317.0, 320.5, 44745)
(2330, '2020-03-05', 325.0, 326.0, 323.0, 323.0, 38224)
(2330, '2020-03-06', 320.0, 320.5, 315.0, 315.0, 52808)
(2317, '2020-03-02', 78.2, 80.3, 78.1, 79.2, 54992)
(2317, '2020-03-03', 81.1, 82.0, 80.6, 81.0, 34822)
(2317, '2020-03-04', 81.5, 81.9, 81.1, 81.7, 29908)
(2317, '2020-03-05', 83.3, 83.6, 82.6, 82.7, 36950)
(2317, '2020-03-06', 81.6, 81.7, 80.7, 80.8, 38713)
(2330, '2020-03-03', 318.5, 320.0, 316.0, 317.5, 55169)

## MySQL

``` python
import pymysql
conn = pymysql.connect(host,account,passwd,dateabase)
cursor = conn.cursor() 
sql = "......"
cursor.execute(sql)
cursor.commit()
conn.close()
```

### 環境設定

In [ ]:
# !pip install PyMySQL

Collecting PyMySQL
  Downloading https://files.pythonhosted.org/packages/4f/52/a115fe175028b058df353c5a3d5290b71514a83f67078a6482cff24d6137/PyMySQL-1.0.2-py3-none-any.whl (43kB)
     |████████████████████████████████| 51kB 4.6MB/s
Installing collected packages: PyMySQL
Successfully installed PyMySQL-1.0.2

### [IMDB 資料庫](https://relational.fit.cvut.cz/dataset/IMDb)
![](https://relational.fit.cvut.cz/assets/img/datasets-generated/imdb_ijs.svg)

## INNER JOIN
- 一對多關係
    - 電影有很多演員
- 資料單一地方管理
    - `stock_list`：股票代碼、股票名稱
    - `stock_date`：股票代碼、日期、各交易原始資訊
    - 若股票名稱改名，改 `stock_list` 就好

``` mysql
SELECT `資料表n`.`欄位1`, `資料表n`.`欄位2`, ...
FROM `資料表1`
INNER JOIN `資料表2` ON 關聯條件1 and/or 條件2
WHERE 條件1 and/or 條件2 ....
ORDER BY 排序方式1, 排序方式2
LIMIT 筆數限制
```

In [ ]:
# import pymysql
# conn = pymysql.connect("relational.fit.cvut.cz","guest","relational","imdb_ijs")
# cursor = conn.cursor() 
# sql = """
#     SELECT 
#         `movies`.`id`, 
#         `movies`.`name`, 
#         `movies`.`year`,
#         `actors`.`first_name`,
#         `actors`.`last_name`
#     FROM `movies` 
#     INNER JOIN `roles` ON `movies`.`id` = `roles`.`movie_id`
#     INNER JOIN `actors` ON `roles`.`actor_id` = `actors`.`id`
#     WHERE `movies`.`year`>2000
#     ORDER BY `movies`.`year` DESC , `movies`.`id` 
#     LIMIT 5
# """
# cursor.execute(sql)
# names = tuple(description[0] for description in cursor.description)
# print(names)
# for row in cursor.fetchall():
#     print(row)
# conn.close()

## 學習資源
- [w3school](https://www.w3schools.com/sql/default.asp)
- [深入淺出 SQL](https://www.tenlong.com.tw/products/9789866840166)

# Flask

## 為什麼要學架網站？
- 讓任何人不限裝置/平台/系統，只要能上網，都能很方便且易使用
- 網路爬蟲抓的就是網站，所以理解網站怎麼架設，對於增加爬蟲經驗會很有幫助

## 為什麼要用 Flask ？
- 容易上手
- 輕量化

## 環境設定

In [ ]:
!pip install flask-ngrok

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting flask-ngrok
  Downloading flask_ngrok-0.0.25-py3-none-any.whl (3.1 kB)
Requirement already satisfied: Flask>=0.8 in /usr/local/lib/python3.10/dist-packages (from flask-ngrok) (2.2.4)
Requirement already satisfied: requests in /usr/local/lib/python3.10/dist-packages (from flask-ngrok) (2.27.1)
Requirement already satisfied: Werkzeug>=2.2.2 in /usr/local/lib/python3.10/dist-packages (from Flask>=0.8->flask-ngrok) (2.3.0)
Requirement already satisfied: Jinja2>=3.0 in /usr/local/lib/python3.10/dist-packages (from Flask>=0.8->flask-ngrok) (3.1.2)
Requirement already satisfied: itsdangerous>=2.0 in /usr/local/lib/python3.10/dist-packages (from Flask>=0.8->flask-ngrok) (2.1.2)
Requirement already satisfied: click>=8.0 in /usr/local/lib/python3.10/dist-packages (from Flask>=0.8->flask-ngrok) (8.1.3)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in /usr/local/lib/python3.10/dist-packages (from requests->flask-ngrok) (1.26.15)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.10/dist-packages (from requests->flask-ngrok) (2022.12.7)
Requirement already satisfied: charset-normalizer~=2.0.0 in /usr/local/lib/python3.10/dist-packages (from requests->flask-ngrok) (2.0.12)
Requirement already satisfied: idna<4,>=2.5 in /usr/local/lib/python3.10/dist-packages (from requests->flask-ngrok) (3.4)
Requirement already satisfied: MarkupSafe>=2.0 in /usr/local/lib/python3.10/dist-packages (from Jinja2>=3.0->Flask>=0.8->flask-ngrok) (2.1.2)
Installing collected packages: flask-ngrok
Successfully installed flask-ngrok-0.0.25

In [ ]:
# !pip install flask==0.12.2

In [ ]:
!pip install pyngrok==4.1.1

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting pyngrok==4.1.1
  Downloading pyngrok-4.1.1.tar.gz (18 kB)
  Preparing metadata (setup.py) ... done
Requirement already satisfied: future in /usr/local/lib/python3.10/dist-packages (from pyngrok==4.1.1) (0.18.3)
Requirement already satisfied: PyYAML in /usr/local/lib/python3.10/dist-packages (from pyngrok==4.1.1) (6.0)
Building wheels for collected packages: pyngrok
  Building wheel for pyngrok (setup.py) ... done
  Created wheel for pyngrok: filename=pyngrok-4.1.1-py3-none-any.whl size=15963 sha256=c47e352a2555e0fbf0fcd80fbfa2eef0c96481220e4a72c575748ecc240d0e7c
  Stored in directory: /root/.cache/pip/wheels/4c/7c/4c/632fba2ea8e88d8890102eb07bc922e1ca8fa14db5902c91a8
Successfully built pyngrok
Installing collected packages: pyngrok
Successfully installed pyngrok-4.1.1

In [ ]:
!ngrok authtoken '29Yeppg9EErt12XNjS2DlOVpMQv_4GHpNG5xMiBCPHwm2TzmD'

Authtoken saved to configuration file: /root/.ngrok2/ngrok.yml

In [ ]:
!ngrok config add-authtoken 29Yeppg9EErt12XNjS2DlOVpMQv_4GHpNG5xMiBCPHwm2TzmD

NAME:
   ngrok - tunnel local ports to public URLs and inspect traffic

DESCRIPTION:
    ngrok exposes local networked services behinds NATs and firewalls to the
    public internet over a secure tunnel. Share local websites, build/test
    webhook consumers and self-host personal services.
    Detailed help for each command is available with 'ngrok help <command>'.
    Open http://localhost:4040 for ngrok's web interface to inspect traffic.

EXAMPLES:
    ngrok http 80                    # secure public URL for port 80 web server
    ngrok http -subdomain=baz 8080   # port 8080 available at baz.ngrok.io
    ngrok http foo.dev:80            # tunnel to host:port instead of localhost
    ngrok http https://localhost     # expose a local https server
    ngrok tcp 22                     # tunnel arbitrary TCP traffic to port 22
    ngrok tls -hostname=foo.com 443  # TLS traffic for foo.com to port 443
    ngrok start foo bar baz          # start tunnels from the configuration file

VERSION:
   2.3.41

AUTHOR:
  inconshreveable - <alan@ngrok.com>

COMMANDS:
   authtoken	save authtoken to configuration file
   credits	prints author and licensing information
   http		start an HTTP tunnel
   start	start tunnels by name from the configuration file
   tcp		start a TCP tunnel
   tls		start a TLS tunnel
   update	update ngrok to the latest version
   version	print the version string
   help		Shows a list of commands or help for one command

ERROR:  Unrecognized command: config

## 基本 route

In [ ]:
from flask_ngrok import run_with_ngrok
from flask import Flask
app = Flask(__name__)
run_with_ngrok(app)   #starts ngrok when the app is run

@app.route("/")
def home():
    resp = "Welcome to Stock Board <br> <a href='/stock'>進入股票頁</a>"
    return resp

@app.route("/stock")
def stock():
    stock_id = "2330"
   
    resp = """
        <h1>股票代碼: {}</h1>
        <a href='/'>回首頁</a>
        <table>
            <thead>
                <tr>
                    <th>日期</th>
                    <th>開盤價</th>
                    <th>最高價</th>
                    <th>最低價</th>
                    <th>收盤價</th>
                    <th>成交量</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>2020-03-02</td>
                    <td>308</td>
                    <td>317</td>
                    <td>308</td>
                    <td>311</td>
                    <td>86373</td>
                </tr>
                <tr>
                    <td>2020-03-03</td>
                    <td>318.5</td>
                    <td>320</td>
                    <td>316</td>
                    <td>317.5</td>
                    <td>55169</td>
                </tr>
                <tr>
                    <td>2020-03-04</td>
                    <td>322</td>
                    <td>322</td>
                    <td>317</td>
                    <td>320.5</td>
                    <td>44745</td>
                </tr>
            </tbody>
        </table>
    """.format(stock_id)
    return resp
app.run()

In [ ]:
from flask_ngrok import run_with_ngrok
from flask import Flask
app = Flask(__name__)
run_with_ngrok(app)

@app.route("/")
def home():
    resp = "Welcome to Stock Board <br> <a href='/stock'>進入股票頁</a>"
    return resp

@app.route("/stock")
def stock():
    stock_id = "2330"
    datas_2330 = [
        ['2020-03-02', 308, 317, 308, 311, 86373],
        ['2020-03-03', 318.5, 320, 316, 317.5, 55169],
        ['2020-03-04', 322, 322, 317, 320.5, 44745]
    ]
    html_data = ""
    for row in datas_2330:
        d, o, h, l, c, v = row
        html_row = """
            <tr>
                <td>{}</td>
                <td>{}</td>
                <td>{}</td>
                <td>{}</td>
                <td>{}</td>
                <td>{}</td>
            </tr>""".format(d, o, h, l, c, v)
        html_data+=html_row
    resp = """
        <h1>股票代碼: {}</h1>
        <a href='/'>回首頁</a>
        <table>
            <thead>
                <tr>
                    <th>日期</th>
                    <th>開盤價</th>
                    <th>最高價</th>
                    <th>最低價</th>
                    <th>收盤價</th>
                    <th>成交量</th>
                </tr>
            </thead>
            <tbody>
                {}
            </tbody>
        </table>
    """.format(stock_id,html_data)
    return resp
app.run()

#### [練習]
寫出股票列表頁：
- 網址 stock_list
- 有三列兩欄(股票代號、股票名)
    - 2330 台積電
    - 2317 鴻海
    - 2412 中華電

## Template
- 新建資料夾 `templates`
- 在 `templates` 資料夾中，新增檔案 `stock.html`

templates/stock.html
``` html
<h1>股票代碼: {{ stock_id }}</h1>
<a href='/'>回首頁</a>
<table>
    <thead>
        <tr>
            <th>日期</th>
            <th>開盤價</th>
            <th>最高價</th>
            <th>最低價</th>
            <th>收盤價</th>
            <th>成交量</th>
        </tr>
    </thead>
    <tbody>
        {% for row in datas %}
        <tr>
            <td>{{ row[0] }}</td>
            <td>{{ row[1] }}</td>
            <td>{{ row[2] }}</td>
            <td>{{ row[3] }}</td>
            <td>{{ row[4] }}</td>
            <td>{{ row[5] }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
```

In [ ]:
!mkdir templates

In [ ]:
%%writefile templates/stock.html

<h1>股票代碼: {{ stock_id }}</h1>
<a href='/'>回首頁</a>
<table>
    <thead>
        <tr>
            <th>日期</th>
            <th>開盤價</th>
            <th>最高價</th>
            <th>最低價</th>
            <th>收盤價</th>
            <th>成交量</th>
        </tr>
    </thead>
    <tbody>
        {% for row in datas %}
        <tr>
            <td>{{ row[0] }}</td>
            <td>{{ row[1] }}</td>
            <td>{{ row[2] }}</td>
            <td>{{ row[3] }}</td>
            <td>{{ row[4] }}</td>
            <td>{{ row[5] }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>

Overwriting templates/stock.html

In [ ]:
from flask_ngrok import run_with_ngrok
from flask import Flask, render_template
app = Flask(__name__)
run_with_ngrok(app)

@app.route("/")
def home():
    resp = "Welcome to Stock Board <br> <a href='/stock'>進入股票頁</a>"
    return resp

@app.route("/stock")
def stock():
    stock_id = "2330"
    datas = [
        ['2020-03-02', 308, 317, 308, 311, 86373],
        ['2020-03-03', 318.5, 320, 316, 317.5, 55169],
        ['2020-03-04', 322, 322, 317, 320.5, 44745]
    ]
    return render_template("stock.html", stock_id=stock_id, datas = datas)
app.run()

#### [練習]
將首頁也改成 Template (檔案名稱：index.html)

In [ ]:
%%writefile templates/index.html

Welcome to Stock Board <br> <a href='/stock'>進入股票頁</a>

Writing templates/index.html

In [ ]:
#@title
from flask_ngrok import run_with_ngrok
from flask import Flask, render_template
app = Flask(__name__)
run_with_ngrok(app)

@app.route("/")
def home():
    return render_template("index.html")

@app.route("/stock")
def stock():
    stock_id = "2330"
    datas = [
        ['2020-03-02', 308, 317, 308, 311, 86373],
        ['2020-03-03', 318.5, 320, 316, 317.5, 55169],
        ['2020-03-04', 322, 322, 317, 320.5, 44745]
    ]
    return render_template("stock.html", stock_id=stock_id, datas = datas)
app.run()

## Parameter

In [ ]:
from flask_ngrok import run_with_ngrok
from flask import Flask, render_template
from flask import request
app = Flask(__name__)
run_with_ngrok(app)

def get_stock_datas(stock_id):
    datas = [
        ['2020-03-02', 308, 317, 308, 311, 86373],
        ['2020-03-03', 318.5, 320, 316, 317.5, 55169],
        ['2020-03-04', 322, 322, 317, 320.5, 44745]
    ]
    return datas

@app.route("/")
def home():
    resp = """Welcome to Stock Board 
    <br> 
    <a href='/stock/2330'>進入2330股票頁(路徑)</a> 
    <br> 
    <a href='/stock?stock_id=2330'>進入2330股票頁(參數)</a>
    """
    return resp

@app.route("/stock/<stock_id>")
def get_stock_path(stock_id):
    return render_template("stock.html", stock_id=stock_id, datas = get_stock_datas(stock_id))

@app.route("/stock")
def get_stock_param():
    stock_id = request.args.get('stock_id')
    return render_template("stock.html", stock_id=stock_id, datas = get_stock_datas(stock_id))

app.run()

#### [練習]
- 增加一個參數 date_start
    - 如果是走 get_stock_path ， url 是 `/stock/2330/XXX`
    - 如果是走 get_stock_param ， url 是 `/stock?stock_id=2330&date_start=XXX`

## SQLite

In [ ]:
from flask_ngrok import run_with_ngrok
from flask import Flask, render_template
from flask import request
import sqlite3
app = Flask(__name__)
run_with_ngrok(app)

def get_stock_datas(stock_id):
    conn = sqlite3.connect('stocks.db')
    sql = """
        SELECT `date`, `open`, `high`, `low`, `close`, `volume`
        FROM `stock_date`
        WHERE `stock_id` = {}
        ORDER BY `date`
    """.format(stock_id)
    cursor = conn.execute(sql)
    datas = cursor.fetchall()
    return datas

@app.route("/")
def home():
    resp = """Welcome to Stock Board 
    <br> 
    <a href='/stock/2330'>進入2330股票頁(路徑)</a> 
    <br> 
    <a href='/stock?stock_id=2330'>進入2330股票頁(參數)</a>
    """
    return resp

@app.route("/stock/<stock_id>")
def get_stock_path(stock_id):
    return render_template("stock.html", stock_id=stock_id, datas = get_stock_datas(stock_id))

@app.route("/stock")
def get_stock_param():
    stock_id = request.args.get('stock_id')
    return render_template("stock.html", stock_id=stock_id, datas = get_stock_datas(stock_id))

app.run()

#### [練習]
延續上一個練習，參數 date_start 是為 sql 的條件：  
搜尋此日期(包含) 後的結果
- 注意日期是文字格式

## [Bootstrap](https://getbootstrap.com/)
- 包含 HTML、CSS及JavaScript的前端框架，有許多已經設定好的元素，方便開發

## [DataTables](https://datatables.net/)
- jQuery 套件，讓表格可以有更多功能操作
    - jQuery：JavaScript函式庫，簡化 HTML 與 JavaScript 之間的操作
- 此套件會把所有結果按照套件設定重新排序，亦即不會依照原先資料的排序

![](https://simpliv.files.wordpress.com/2018/04/learn-the-foundations-of-html-css-javascript-from-experts12.gif?w=640)

In [ ]:
!pip install flask-bootstrap

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting flask-bootstrap
  Downloading Flask-Bootstrap-3.3.7.1.tar.gz (456 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 456.4/456.4 kB 13.7 MB/s eta 0:00:00
  Preparing metadata (setup.py) ... done
Requirement already satisfied: Flask>=0.8 in /usr/local/lib/python3.10/dist-packages (from flask-bootstrap) (2.2.4)
Collecting dominate (from flask-bootstrap)
  Downloading dominate-2.8.0-py2.py3-none-any.whl (29 kB)
Collecting visitor (from flask-bootstrap)
  Downloading visitor-0.1.3.tar.gz (3.3 kB)
  Preparing metadata (setup.py) ... done
Requirement already satisfied: Werkzeug>=2.2.2 in /usr/local/lib/python3.10/dist-packages (from Flask>=0.8->flask-bootstrap) (2.3.0)
Requirement already satisfied: Jinja2>=3.0 in /usr/local/lib/python3.10/dist-packages (from Flask>=0.8->flask-bootstrap) (3.1.2)
Requirement already satisfied: itsdangerous>=2.0 in /usr/local/lib/python3.10/dist-packages (from Flask>=0.8->flask-bootstrap) (2.1.2)
Requirement already satisfied: click>=8.0 in /usr/local/lib/python3.10/dist-packages (from Flask>=0.8->flask-bootstrap) (8.1.3)
Requirement already satisfied: MarkupSafe>=2.0 in /usr/local/lib/python3.10/dist-packages (from Jinja2>=3.0->Flask>=0.8->flask-bootstrap) (2.1.2)
Building wheels for collected packages: flask-bootstrap, visitor
  Building wheel for flask-bootstrap (setup.py) ... done
  Created wheel for flask-bootstrap: filename=Flask_Bootstrap-3.3.7.1-py3-none-any.whl size=460122 sha256=bb5799193f0f277e5bd7f0c9b72c35ef4b158dec1d56cb2f927076ac53b545cb
  Stored in directory: /root/.cache/pip/wheels/6f/33/ad/26540e84a28334e5dfeda756df270f95353779f03bc5cf40d4
  Building wheel for visitor (setup.py) ... done
  Created wheel for visitor: filename=visitor-0.1.3-py3-none-any.whl size=3925 sha256=3ed790f89bceaf7145c24f91347a0a8accd536f57e89ae62ba847f46c27304e0
  Stored in directory: /root/.cache/pip/wheels/19/31/99/2ec5b4459cac4d801d6201d501a354366d180afc9f8bb2d333
Successfully built flask-bootstrap visitor
Installing collected packages: visitor, dominate, flask-bootstrap
Successfully installed dominate-2.8.0 flask-bootstrap-3.3.7.1 visitor-0.1.3

### [Templates下載](https://github.com/MarsW/slides/tree/master/codes/flask/stock/templates)
- b_index.html
- b_stock.html
- bd_stock.html

In [ ]:
!git clone https://github.com/MarsW/slides

Cloning into 'slides'...
remote: Enumerating objects: 143, done.
remote: Counting objects: 100% (143/143), done.
remote: Compressing objects: 100% (98/98), done.
remote: Total 143 (delta 17), reused 141 (delta 15), pack-reused 0
Receiving objects: 100% (143/143), 11.30 MiB | 18.25 MiB/s, done.
Resolving deltas: 100% (17/17), done.

In [ ]:
!cp ./slides/codes/flask/stock/templates/*.html ./templates/

In [ ]:
from flask_ngrok import run_with_ngrok
from flask import Flask, render_template
from flask import request
from flask_bootstrap import Bootstrap
app = Flask(__name__)
bootstrap = Bootstrap(app)
run_with_ngrok(app)

def get_stock_datas(stock_id):
    conn = sqlite3.connect('stocks.db')
    sql = """
        SELECT `date`, `open`, `high`, `low`, `close`, `volume`
        FROM `stock_date`
        WHERE `stock_id` = {}
        ORDER BY `date`
    """.format(stock_id)
    cursor = conn.execute(sql)
    datas = cursor.fetchall()
    return datas

@app.route("/")
def home():
    return render_template("b_index.html")

@app.route("/stock/<stock_id>")
def get_stock_path(stock_id):
    return render_template("b_stock.html", stock_id=stock_id, datas = get_stock_datas(stock_id))

@app.route("/stock")
def get_stock_param():
    stock_id = request.args.get('stock_id')
    return render_template("bd_stock.html", stock_id=stock_id, datas = get_stock_datas(stock_id))

app.run()

## 學習資源
- [Flask Web 開發實戰](https://tw.pyladies.com/events/topic.html?id=35)
    - [Flask Web 開發:基於 Python 的 Web 應用開發實戰](https://www.tenlong.com.tw/products/9787115373991)
- 學習地圖
    - [前端](https://softnshare.com/webfrontendprogrammer/)
    - [後端](https://softnshare.com/backenddeveloper/)
        - VPS 主機：Linode, DigitalOcean, GCP, AWS, Azure
            - [鳥哥的 Linux 私房菜](http://linux.vbird.org/)

In [ ]:
!pip install flask_sqlalchemy

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting flask_sqlalchemy
  Downloading Flask_SQLAlchemy-3.0.3-py3-none-any.whl (24 kB)
Requirement already satisfied: Flask>=2.2 in /usr/local/lib/python3.10/dist-packages (from flask_sqlalchemy) (2.2.4)
Requirement already satisfied: SQLAlchemy>=1.4.18 in /usr/local/lib/python3.10/dist-packages (from flask_sqlalchemy) (2.0.10)
Requirement already satisfied: Werkzeug>=2.2.2 in /usr/local/lib/python3.10/dist-packages (from Flask>=2.2->flask_sqlalchemy) (2.3.0)
Requirement already satisfied: Jinja2>=3.0 in /usr/local/lib/python3.10/dist-packages (from Flask>=2.2->flask_sqlalchemy) (3.1.2)
Requirement already satisfied: itsdangerous>=2.0 in /usr/local/lib/python3.10/dist-packages (from Flask>=2.2->flask_sqlalchemy) (2.1.2)
Requirement already satisfied: click>=8.0 in /usr/local/lib/python3.10/dist-packages (from Flask>=2.2->flask_sqlalchemy) (8.1.3)
Requirement already satisfied: typing-extensions>=4.2.0 in /usr/local/lib/python3.10/dist-packages (from SQLAlchemy>=1.4.18->flask_sqlalchemy) (4.5.0)
Requirement already satisfied: greenlet!=0.4.17 in /usr/local/lib/python3.10/dist-packages (from SQLAlchemy>=1.4.18->flask_sqlalchemy) (2.0.2)
Requirement already satisfied: MarkupSafe>=2.0 in /usr/local/lib/python3.10/dist-packages (from Jinja2>=3.0->Flask>=2.2->flask_sqlalchemy) (2.1.2)
Installing collected packages: flask_sqlalchemy
Successfully installed flask_sqlalchemy-3.0.3

In [ ]:
# app.config['SQLALCHEMY_DATABASE_URI'] = 'postgresql://admin:123456@127.0.0.1:5432/testdb'

# Models.py

In [ ]:
from flask_ngrok import run_with_ngrok
from flask import Flask, request, render_template
from flask_bootstrap import Bootstrap
from flask_sqlalchemy import SQLAlchemy

app = Flask(__name__)
app.config['SQLALCHEMY_DATABASE_URI'] = 'sqlite:///stocks.db'
db = SQLAlchemy(app)
bootstrap = Bootstrap(app)
run_with_ngrok(app)

class students(db.Model):
   __tablename__ = 'students'
   sid = db.Column(db.Integer, primary_key = True)
   name = db.Column(db.String(50), nullable = False)
   tel = db.Column(db.String(50))
   addr = db.Column(db.String(200))
   email = db.Column(db.String(100))

   def __init__(self, name, tel, addr, email):
       self.name = name
       self.tel = tel
       self.addr = addr
       self.email = email

@app.route('/')
def index():
    db.create_all()
    return "資料庫連線成功！"

if __name__ == '__main__':
   app.run()

# Insert.py

In [ ]:
from flask_ngrok import run_with_ngrok
from flask import Flask, request, render_template
from flask_bootstrap import Bootstrap
from flask_sqlalchemy import SQLAlchemy

app = Flask(__name__)
app.config['SQLALCHEMY_DATABASE_URI'] = 'sqlite:///stocks.db'
db = SQLAlchemy(app)
bootstrap = Bootstrap(app)
run_with_ngrok(app)

class students(db.Model):
   __tablename__ = 'students'
   sid = db.Column(db.Integer, primary_key = True)
   name = db.Column(db.String(50), nullable = False)
   tel = db.Column(db.String(50))
   addr = db.Column(db.String(200))
   email = db.Column(db.String(100))

   def __init__(self, name, tel, addr, email):
       self.name = name
       self.tel = tel
       self.addr = addr
       self.email = email

@app.route('/')
def index():
    db.create_all()
    return "資料庫連線成功！"

@app.route('/insert')
def insert():
    student = students('炭治郎','0911111111', '台北市信義路101號', 'tjl@test.com')
    db.session.add(student)
    db.session.commit()
    return "資料新增成功！"

@app.route('/insertall')
def insertall():
    datas = [students('彌豆子','0922222222','台北市南京東路50號','mdj@test.com'),
             students('伊之助','0933333333', '台北市北門路20號', 'yjj@test.com')]
    db.session.add_all(datas)
    db.session.commit()
    return "資料批次新增成功！"

if __name__ == '__main__':
   app.run()

# query.py

In [ ]:
from flask_ngrok import run_with_ngrok
from flask import Flask, request, render_template
from flask_bootstrap import Bootstrap
from flask_sqlalchemy import SQLAlchemy

app = Flask(__name__)
app.config['SQLALCHEMY_DATABASE_URI'] = 'sqlite:///stocks.db'
db = SQLAlchemy(app)
bootstrap = Bootstrap(app)
run_with_ngrok(app)

class students(db.Model):
   __tablename__ = 'students'
   sid = db.Column(db.Integer, primary_key = True)
   name = db.Column(db.String(50), nullable = False)
   tel = db.Column(db.String(50))
   addr = db.Column(db.String(200))
   email = db.Column(db.String(100))

   def __init__(self, name, tel, addr, email):
       self.name = name
       self.tel = tel
       self.addr = addr
       self.email = email

@app.route('/')
def index():
    db.create_all()
    return "資料庫連線成功！"

@app.route('/queryall')
def queryall():
    datas = students.query.all()
    msg = ""
    for student in datas:
        msg += f"{student.name}, {student.tel}, {student.addr}, {student.email}<br>"
    return msg

@app.route('/queryusr/<int:uid>')
def queryusr(uid):
    student = students.query.get(uid)
    return f"{student.name}<br>{student.tel}<br>{student.addr}<br>{student.email}"

@app.route('/queryname/<string:name>')
def queryfilter(name):
    student = students.query.filter_by(name=name).first()
    return f"{student.name}<br>{student.tel}<br>{student.addr}<br>{student.email}"

if __name__ == '__main__':
   app.run()

# update_delete.py

In [ ]:
from flask_ngrok import run_with_ngrok
from flask import Flask, request, render_template
from flask_bootstrap import Bootstrap
from flask_sqlalchemy import SQLAlchemy

app = Flask(__name__)
app.config['SQLALCHEMY_DATABASE_URI'] = 'sqlite:///stocks.db'
db = SQLAlchemy(app)
bootstrap = Bootstrap(app)
run_with_ngrok(app)

class students(db.Model):
   __tablename__ = 'students'
   sid = db.Column(db.Integer, primary_key = True)
   name = db.Column(db.String(50), nullable = False)
   tel = db.Column(db.String(50))
   addr = db.Column(db.String(200))
   email = db.Column(db.String(100))

   def __init__(self, name, tel, addr, email):
       self.name = name
       self.tel = tel
       self.addr = addr
       self.email = email

@app.route('/')
def index():
    db.create_all()
    return "資料庫連線成功！"

@app.route('/updateusr/<int:uid>')
def updateusr(uid):
    student = students.query.get(uid)
    student.name = student.name + "(已修改)"
    db.session.commit()
    return "資料修改成功！"

@app.route('/deleusr/<int:uid>')
def deleusr(uid):
    student = students.query.get(uid)
    db.session.delete(student)
    db.session.commit()
    return "資料刪除成功！"

if __name__ == '__main__':
   app.run()

# sql.py

In [ ]:
from flask_ngrok import run_with_ngrok
from flask import Flask, request, render_template
from flask_bootstrap import Bootstrap
from flask_sqlalchemy import SQLAlchemy

app = Flask(__name__)
app.config['SQLALCHEMY_DATABASE_URI'] = 'sqlite:///stocks.db'
db = SQLAlchemy(app)
bootstrap = Bootstrap(app)
run_with_ngrok(app)

@app.route('/')
def index():
    return "資料庫連線成功！"

@app.route('/setup')
def setup():
    sql = """
    CREATE TABLE students2 (
    sid serial NOT NULL,
    name character varying(50) NOT NULL,
    tel character varying(50),
    addr character varying(200),
    email character varying(100),
    PRIMARY KEY (sid))
    """
    db.engine.execute(sql)
    return "資料表建立成功！"

@app.route('/insert')
def insert():
    sql = """
    INSERT INTO students2 (name, tel, addr, email) VALUES('炭治郎', '0911111111', '台北市信義路101號', 'tjl@test.com');
    INSERT INTO students2 (name, tel, addr, email) VALUES('彌豆子', '0922222222', '台北市南京東路50號', 'mdj@test.com');
    INSERT INTO students2 (name, tel, addr, email) VALUES('伊之助', '0933333333', '台北市北門路20號', 'yjj@test.com');
    """
    db.engine.execute(sql)
    return "資料新增成功！"

@app.route('/query')
def query():
    sql = "SELECT * FROM students2 ORDER BY sid"
    students = db.engine.execute(sql)
    msg = ""
    for student in students:
        msg += f"{student['name']}, {student['tel']}, {student['addr']}, {student['email']}<br>"
    return msg

@app.route('/updateusr/<int:uid>')
def updateusr(uid):
    sql = "UPDATE students2 SET name = '炭之郎' WHERE sid = " + str(uid)
    db.engine.execute(sql)
    return "資料修改成功！"

@app.route('/deleusr/<int:uid>')
def deleusr(uid):
    sql = "DELETE FROM students2 WHERE sid = " + str(uid)
    db.engine.execute(sql)
    return "資料刪除成功！"

if __name__ == '__main__':
   app.run(debug=True)