# SQL 的五十道練習：初學者友善的資料庫入門

> 附錄一：學習資料庫綱要

In [1]:
%LOAD sqlite3 db=../databases/imdb.db timeout=2 shared_cache=true

In [2]:
ATTACH "../databases/nba.db" AS nba;

In [3]:
ATTACH "../databases/twElection2020.db" AS twElection2020;

In [4]:
ATTACH "../databases/covid19.db" AS covid19;

## 學習資料庫 `covid19`

![](../images/covid19-erd.png)

In [5]:
SELECT name,
       type,
       pk
  FROM PRAGMA_TABLE_INFO('daily_report')
 ORDER BY name;

+--------------+---------+----+
| name         | type    | pk |
+--------------+---------+----+
| Combined_Key | TEXT    | 1  |
+--------------+---------+----+
| Confirmed    | INTEGER | 0  |
+--------------+---------+----+
| Deaths       | INTEGER | 0  |
+--------------+---------+----+
| Last_Update  | TEXT    | 0  |
+--------------+---------+----+
4 rows in set (0.00 sec)

In [6]:
SELECT name,
       type,
       pk
  FROM PRAGMA_TABLE_INFO('lookup_table')
 ORDER BY name;

+----------------+---------+----+
| name           | type    | pk |
+----------------+---------+----+
| Admin2         | TEXT    | 0  |
+----------------+---------+----+
| Combined_Key   | TEXT    | 0  |
+----------------+---------+----+
| Country_Region | TEXT    | 0  |
+----------------+---------+----+
| Lat            | REAL    | 0  |
+----------------+---------+----+
| Long_          | REAL    | 0  |
+----------------+---------+----+
| Population     | INTEGER | 0  |
+----------------+---------+----+
| Province_State | TEXT    | 0  |
+----------------+---------+----+
| UID            | INTEGER | 1  |
+----------------+---------+----+
| iso2           | TEXT    | 0  |
+----------------+---------+----+
| iso3           | TEXT    | 0  |
+----------------+---------+----+
10 rows in set (0.00 sec)

In [7]:
SELECT name,
       type,
       pk
  FROM PRAGMA_TABLE_INFO('time_series')
 ORDER BY name;

+----------------+---------+----+
| name           | type    | pk |
+----------------+---------+----+
| Confirmed      | INTEGER | 0  |
+----------------+---------+----+
| Country_Region | TEXT    | 2  |
+----------------+---------+----+
| Daily_Cases    | INTEGER | 0  |
+----------------+---------+----+
| Daily_Deaths   | INTEGER | 0  |
+----------------+---------+----+
| Date           | TEXT    | 1  |
+----------------+---------+----+
| Deaths         | INTEGER | 0  |
+----------------+---------+----+
6 rows in set (0.00 sec)

## 學習資料庫 `imdb`

![](../images/imdb-erd.png)

In [8]:
SELECT name,
       type,
       pk
  FROM PRAGMA_TABLE_INFO('actors')
 ORDER BY name;

+------+---------+----+
| name | type    | pk |
+------+---------+----+
| id   | INTEGER | 1  |
+------+---------+----+
| name | TEXT    | 0  |
+------+---------+----+
2 rows in set (0.00 sec)

In [9]:
SELECT name,
       type,
       pk
  FROM PRAGMA_TABLE_INFO('casting')
 ORDER BY name;

+----------+---------+----+
| name     | type    | pk |
+----------+---------+----+
| actor_id | INTEGER | 0  |
+----------+---------+----+
| movie_id | INTEGER | 0  |
+----------+---------+----+
| ord      | INTEGER | 0  |
+----------+---------+----+
3 rows in set (0.00 sec)

In [10]:
SELECT name,
       type,
       pk
  FROM PRAGMA_TABLE_INFO('movies')
 ORDER BY name;

+--------------+---------+----+
| name         | type    | pk |
+--------------+---------+----+
| director     | TEXT    | 0  |
+--------------+---------+----+
| id           | INTEGER | 1  |
+--------------+---------+----+
| rating       | REAL    | 0  |
+--------------+---------+----+
| release_year | INTEGER | 0  |
+--------------+---------+----+
| runtime      | INT     | 0  |
+--------------+---------+----+
| title        | TEXT    | 0  |
+--------------+---------+----+
6 rows in set (0.00 sec)

## 學習資料庫 `nba`

![](../images/nba-erd.png)

In [11]:
SELECT name,
       type,
       pk
  FROM PRAGMA_TABLE_INFO('career_summaries')
 ORDER BY name;

+--------------+---------+----+
| name         | type    | pk |
+--------------+---------+----+
| apg          | REAL    | 0  |
+--------------+---------+----+
| assists      | INTEGER | 0  |
+--------------+---------+----+
| blocks       | INTEGER | 0  |
+--------------+---------+----+
| bpg          | REAL    | 0  |
+--------------+---------+----+
| dd2          | INTEGER | 0  |
+--------------+---------+----+
| defReb       | INTEGER | 0  |
+--------------+---------+----+
| fga          | INTEGER | 0  |
+--------------+---------+----+
| fgm          | INTEGER | 0  |
+--------------+---------+----+
| fgp          | REAL    | 0  |
+--------------+---------+----+
| fta          | INTEGER | 0  |
+--------------+---------+----+
| ftm          | INTEGER | 0  |
+--------------+---------+----+
| ftp          | REAL    | 0  |
+--------------+---------+----+
| gamesPlayed  | INTEGER | 0  |
+--------------+---------+----+
| gamesStarted | INTEGER | 0  |
+--------------+---------+----+
| min          | INTEGER | 0  |
+--------------+---------+----+
| mpg          | REAL    | 0  |
+--------------+---------+----+
| offReb       | INTEGER | 0  |
+--------------+---------+----+
| pFouls       | INTEGER | 0  |
+--------------+---------+----+
| personId     | INTEGER | 1  |
+--------------+---------+----+
| plusMinus    | INTEGER | 0  |
+--------------+---------+----+
| points       | INTEGER | 0  |
+--------------+---------+----+
| ppg          | REAL    | 0  |
+--------------+---------+----+
| rpg          | REAL    | 0  |
+--------------+---------+----+
| spg          | REAL    | 0  |
+--------------+---------+----+
| steals       | INTEGER | 0  |
+--------------+---------+----+
| td3          | INTEGER | 0  |
+--------------+---------+----+
| totReb       | INTEGER | 0  |
+--------------+---------+----+
| tpa          | INTEGER | 0  |
+--------------+---------+----+
| tpm          | INTEGER | 0  |
+--------------+---------+----+
| tpp          | REAL    | 0  |
+--------------+---------+----+
| turnovers    | INTEGER | 0  |
+--------------+---------+----+
31 rows in set (0.00 sec)

In [12]:
SELECT name,
       type,
       pk
  FROM PRAGMA_TABLE_INFO('players')
 ORDER BY name;

+----------------------+---------+----+
| name                 | type    | pk |
+----------------------+---------+----+
| collegeName          | TEXT    | 0  |
+----------------------+---------+----+
| country              | TEXT    | 0  |
+----------------------+---------+----+
| dateOfBirthUTC       | TEXT    | 0  |
+----------------------+---------+----+
| firstName            | TEXT    | 0  |
+----------------------+---------+----+
| heightFeet           | INTEGER | 0  |
+----------------------+---------+----+
| heightInches         | INTEGER | 0  |
+----------------------+---------+----+
| heightMeters         | REAL    | 0  |
+----------------------+---------+----+
| jersey               | INTEGER | 0  |
+----------------------+---------+----+
| lastAffiliation      | TEXT    | 0  |
+----------------------+---------+----+
| lastName             | TEXT    | 0  |
+----------------------+---------+----+
| nbaDebutYear         | INTEGER | 0  |
+----------------------+---------+----+
| personId             | INTEGER | 1  |
+----------------------+---------+----+
| pos                  | TEXT    | 0  |
+----------------------+---------+----+
| teamId               | INTEGER | 0  |
+----------------------+---------+----+
| temporaryDisplayName | TEXT    | 0  |
+----------------------+---------+----+
| weightKilograms      | REAL    | 0  |
+----------------------+---------+----+
| weightPounds         | REAL    | 0  |
+----------------------+---------+----+
| yearsPro             | INTEGER | 0  |
+----------------------+---------+----+
18 rows in set (0.00 sec)

In [13]:
SELECT name,
       type,
       pk
  FROM PRAGMA_TABLE_INFO('teams')
 ORDER BY name;

+----------------+---------+----+
| name           | type    | pk |
+----------------+---------+----+
| altCityName    | TEXT    | 0  |
+----------------+---------+----+
| city           | TEXT    | 0  |
+----------------+---------+----+
| confName       | TEXT    | 0  |
+----------------+---------+----+
| divName        | TEXT    | 0  |
+----------------+---------+----+
| fullName       | TEXT    | 0  |
+----------------+---------+----+
| isAllStar      | TEXT    | 0  |
+----------------+---------+----+
| isNBAFranchise | TEXT    | 0  |
+----------------+---------+----+
| nickname       | TEXT    | 0  |
+----------------+---------+----+
| teamId         | INTEGER | 1  |
+----------------+---------+----+
| teamShortName  | TEXT    | 0  |
+----------------+---------+----+
| tricode        | TEXT    | 0  |
+----------------+---------+----+
| urlName        | TEXT    | 0  |
+----------------+---------+----+
12 rows in set (0.00 sec)

## 學習資料庫 `twElection2020`

![](../images/twElection2020-erd.png)

In [14]:
SELECT name,
       type,
       pk
  FROM PRAGMA_TABLE_INFO('admin_regions')
 ORDER BY name;

+---------+---------+----+
| name    | type    | pk |
+---------+---------+----+
| county  | TEXT    | 0  |
+---------+---------+----+
| id      | INTEGER | 1  |
+---------+---------+----+
| town    | TEXT    | 0  |
+---------+---------+----+
| village | TEXT    | 0  |
+---------+---------+----+
4 rows in set (0.00 sec)

In [15]:
SELECT name,
       type,
       pk
  FROM PRAGMA_TABLE_INFO('candidates');

+-----------+---------+----+
| name      | type    | pk |
+-----------+---------+----+
| id        | INTEGER | 1  |
+-----------+---------+----+
| party_id  | INTEGER | 0  |
+-----------+---------+----+
| type      | TEXT    | 0  |
+-----------+---------+----+
| number    | INTEGER | 0  |
+-----------+---------+----+
| candidate | TEXT    | 0  |
+-----------+---------+----+
5 rows in set (0.00 sec)

In [16]:
SELECT name,
       type,
       pk
  FROM PRAGMA_TABLE_INFO('legislative_at_large')
 ORDER BY name;

+-----------------+---------+----+
| name            | type    | pk |
+-----------------+---------+----+
| admin_region_id | INTEGER | 0  |
+-----------------+---------+----+
| office          | INTEGER | 0  |
+-----------------+---------+----+
| party_id        | INTEGER | 0  |
+-----------------+---------+----+
| votes           | INTEGER | 0  |
+-----------------+---------+----+
4 rows in set (0.00 sec)

In [17]:
SELECT name,
       type,
       pk
  FROM PRAGMA_TABLE_INFO('legislative_regional')
 ORDER BY name;

+--------------------+---------+----+
| name               | type    | pk |
+--------------------+---------+----+
| admin_region_id    | INTEGER | 0  |
+--------------------+---------+----+
| candidate_id       | INTEGER | 0  |
+--------------------+---------+----+
| electoral_district | TEXT    | 0  |
+--------------------+---------+----+
| office             | INTEGER | 0  |
+--------------------+---------+----+
| votes              | INTEGER | 0  |
+--------------------+---------+----+
5 rows in set (0.00 sec)

In [18]:
SELECT name,
       type,
       pk
  FROM PRAGMA_TABLE_INFO('parties')
 ORDER BY name;

+-------+---------+----+
| name  | type    | pk |
+-------+---------+----+
| id    | INTEGER | 1  |
+-------+---------+----+
| party | TEXT    | 0  |
+-------+---------+----+
2 rows in set (0.00 sec)

In [19]:
SELECT name,
       type,
       pk
  FROM PRAGMA_TABLE_INFO('presidential')
 ORDER BY name;

+-----------------+---------+----+
| name            | type    | pk |
+-----------------+---------+----+
| admin_region_id | INTEGER | 0  |
+-----------------+---------+----+
| candidate_id    | INTEGER | 0  |
+-----------------+---------+----+
| office          | INTEGER | 0  |
+-----------------+---------+----+
| votes           | INTEGER | 0  |
+-----------------+---------+----+
4 rows in set (0.00 sec)