<a href="https://colab.research.google.com/github/ccwu0918/book-sqlfifty/blob/main/appx03-python-connection/appx03-python-connection.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# SQL 的五十道練習：初學者友善的資料庫入門

> 附錄三：以 Python 串接學習資料庫

假使讀者不是資料科學的初學者，對於 Python 以及模組有一定的認識與暸解，可以使用標準模組 `sqlite3` 建立學習資料庫的連線、使用第三方模組 `pandas` 對學習資料庫進行資料查詢。

In [ ]:
!git clone https://github.com/datainpoint/book-sqlfifty

In [ ]:
%cd book-sqlfifty

In [ ]:
# %%capture
# load the SQL magic extension
# https://github.com/catherinedevlin/ipython-sql
# this extension allows us to connect to DBs and issue SQL command
%load_ext sql

# now we can use the magic extension to connect to our SQLite DB
# use %sql to write an inline SQL command
# use %%sql to write SQL commands in a cell
%sql sqlite:///databases/imdb.db

## 安裝模組

`sqlite3` 是標準模組，不需要自行安裝，`pandas` 是第三方模組，在終端機以指令安裝。 

```bash
pip install pandas
```

## 載入模組

In [4]:
import sqlite3
import pandas as pd

## 建立連線

以相對路徑位於 `../databases/imdb.db` 的學習資料庫為例，使用 `sqlite3` 模組的 `connect()` 函數。

In [5]:
con = sqlite3.connect('./databases/imdb.db')

## 進行資料查詢

使用 `pandas` 模組的 `read_sql()` 函數。

In [10]:
%%sql 
SELECT *
FROM actors
LIMIT 5;

 * sqlite:///databases/imdb.db
Done.

[(1, 'Aamir Khan'),
 (2, 'Aaron Eckhart'),
 (3, 'Aaron Lazar'),
 (4, 'Abbas-Ali Roomandi'),
 (5, 'Abbey Lee')]

In [6]:
sql_statement = """
SELECT *
  FROM actors
 LIMIT 5;
"""
pd.read_sql(sql_statement, con)

   id                name
0   1          Aamir Khan
1   2       Aaron Eckhart
2   3         Aaron Lazar
3   4  Abbas-Ali Roomandi
4   5           Abbey Lee

In [7]:
sql_statement = """
SELECT *
  FROM casting
 LIMIT 5;
"""
pd.read_sql(sql_statement, con)

   movie_id  actor_id  ord
0         1      2944    1
1         1      2192    2
2         1       330    3
3         1      3134    4
4         1       552    5

In [8]:
sql_statement = """
SELECT *
  FROM movies
 LIMIT 5;
"""
pd.read_sql(sql_statement, con)

,id,title,release_year,rating,director,runtime
0,1,The Shawshank Redemption,1994,9.3,Frank Darabont,142
1,2,The Godfather,1972,9.2,Francis Ford Coppola,175
2,3,The Dark Knight,2008,9.0,Christopher Nolan,152
3,4,The Godfather Part II,1974,9.0,Francis Ford Coppola,202
4,5,12 Angry Men,1957,9.0,Sidney Lumet,96

## 關閉連線

In [9]:
con.close()

## 延伸閱讀

- sqlite3 — DB-API 2.0 interface for SQLite databases <https://docs.python.org/3/library/sqlite3.html>
- pandas.read_sql <https://pandas.pydata.org/docs/reference/api/pandas.read_sql.html>